$primary_green: #ceffe4;
$transparent_green: #9df0c198;
$secondary_green: #9ad1b2;
$dark_green: #214230;

$light_grey: #d2dad6;
$blue: #48b0ec;
$orange: #ff5722;

$side_nav_size_closed: 100px;
$side_nav_size_open: 300px;
$side_nav_padding_size: 20px;
