@import "../variables";

.main {
  width: calc(100% - 50px);
  height: 0;

  margin: 0 auto;
  padding: 0;

  border: solid $primary_green;
  border-width: 3px 0 0 0;
  border-radius: 0 0 10px 10px;
  background-color: #ffffff;

  overflow: hidden;

  > p {
    height: 105px;
    margin: 20px 0;
    overflow: auto;
  }

  .dates {
    color: #5e5e5e;
    font-size: 10px;
  }
}

.open {
  animation: open_anim .2s linear forwards;
}

.closed {
  animation: close_anim .2s linear forwards;
}

@keyframes open_anim {
  0% {
    height: 0;
    padding: 0 30px;
  }
  100% {
    height: 250px;
    padding: 20px 30px;
  }
}

@keyframes close_anim {
  0% {
    height: 250px;
    padding: 20px 30px;
  }
  100% {
    height: 0;
    padding: 0 30px;
  }
}
