@import "../variables";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  padding: 50px;

  background-color: $primary_green;

  .main {
    display: flex;
    flex-direction: column;
    gap: 10px;

    width: 100%;

    list-style-type: none;

    li {
      display: flex;
      justify-content: space-between;
      align-items: center;

      padding: 20px 30px;

      border-radius: 50px;
      background-color: #ffffff;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

.actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  margin: 20px;

  .add_plant_toggle_button:hover {
    color: #ffffff;
    font-weight: bold;

    background-color: $secondary_green;
  }
}
