@import "../variables";

.main {
  width: 50vw;

  padding: 50px;

  border-radius: 20px;
  background-color: #ffffff;

  > p {
    margin: 40px 0;
  }

  .dates {
    color: #5e5e5e;
    font-size: 12px;

    margin-bottom: 20px;
  }

  .actions {
    display: flex;
    gap: 20px;

    > button {
      background-color: $primary_green;

      &:hover {
        color: #ffffff;
      }

      &:first-of-type:hover {
        background-color: #48b0ec;
      }

      &:last-of-type:hover {
        background-color: #ff5722;
      }
    }
  }
}

.dialog_buttons {
  display: flex;
  gap: 30px;

  margin-top: 30px;

  .confirm:hover {
    color: #ffffff;
    background-color: #ff4322;
  }
}
