@import "../../variables";

$button_size_closed: calc($side_nav_size_closed - (2 * $side_nav_padding_size));
$button_size_open: calc($side_nav_size_open - (2 * $side_nav_padding_size));

.main {
  button {
    appearance: none;
    border: none;

    display: flex;
    align-items: center;

    width: $button_size_closed;
    height: $button_size_closed;

    border-radius: 5px;

    background-color: #b1dbc5;

    overflow: hidden;
    transition: all .5s;

    &:hover {
      cursor: pointer;
      background-color: #c1e4d1;
    }

    .icon {
      margin: 0 15px;

      svg {
        width: calc($button_size_closed / 2);
        height: calc($button_size_closed / 2);

        color: #ffffff;
      }
    }

    .title {
      p {
        font-size: 20px;
        color: #ffffff;
      }
    }
  }
}

.open {
  button {
    width: $button_size_open;
  }
}
