@import "../../variables";

.main {
  position: sticky;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  gap: 100px;

  height: 100vh;

  padding: 50px $side_nav_padding_size;

  background-color: $secondary_green;

  transition: all .5s;

  ul {
    display: flex;
    flex-direction: column;
    gap: 20px;

    height: fit-content;
    list-style: none;
  }
}

.open {
  width: $side_nav_size_open;
}

.close {
  width: $side_nav_size_closed;
}
